*, *::after, *::before {
	box-sizing : border-box;
}


#container1{
	width : 100%;
}

#container1 img {
	height : 500px;
	width : 100%;
	object-fit : cover;
}

	body , html {
		margin : 0;
		padding : 0;
		font-family : serif;
		text-transform : capitalize;
	}


#myservices{
	margin : 1em;
	display : grid;
	grid-gap : 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


#myservices #me {
	position : relative;
	background-image : linear-gradient(to top left, #007F68,#008894);
}


#myservices #me #iconcontainer{
	width : 100%;
	height : 300px;
	position : relative;
	overflow : hidden;
}

#myservices #me #iconcontainer .icon {
	position : absolute;
	width : 100%;
	height : 100%;
	transition : 0.5s;
	top : 0;
	left : 0;
}

#myservices #me #iconcontainer:hover .icon{
	position : absolute;
	background-color : rgba(0,0,0,0.5);
	border-radius : 50%;
	width : 100px;
	height : 100px;
	top : 10%;
	left : calc(50% - 50px);
}


#myservices #me #iconcontainer .icon i{
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
	font-size : 15em;
	transition : 0.5s;
	color : #eee;
}

#myservices #me #iconcontainer:hover .icon i {
	font-size : 5em;
}

#myservices #me #iconcontainer #des{
	position : absolute;
	width : 100%;
	height : 100%;
	padding : 10px;
	text-align : center;
	top : 100%;
	transition : 0.7s;
	opacity : 0;
}

#myservices #me #iconcontainer:hover #des {
	top : 40%;
	opacity : 1;
	width : 100%;
	height : 60%;
}

#myservices #me:before{
	content : '';
	z-index : -1;
	position : absolute;
	left : 0;
	right : 5%;
	bottom : 11px;
	height : 20px;
	transform : rotateZ(-2deg);
	box-shadow : 3px 10px 10px 0 #000;
}

#myservices #me:after{
	content : '';
	z-index : -1;
	position : absolute;
	right : 0;
	left : 5%;
	bottom : 11px;
	height : 20px;
	transform : rotateZ(2deg);
	box-shadow : -3px 10px 10px 0 #000;
}


#my-nav {
	height : 80px;
	background-color : #ccc;
	background-image : linear-gradient(to top right, #007F68,#008894);
	color : #fff;
	display : flex;
	justify-content : space-between;
	align-items : center;
	box-shadow : 0 0 10px #000;
	z-index : 1;
}

#my-nav #nav-brand {
	display : flex;
	align-items : center;
}

#my-nav #nav-brand #brand-text{
	margin-left : 20px;
	font-size : 2em;
}

#my-nav #collaps{
	display : none;
}

.float-menu {
	display : block;
}


@media only screen and (max-width : 400px){

	#my-nav {
		flex-flow : column;
	}
	
	#my-nav .float-menu{
		display : none;
	}
	#my-nav ul{
		left : 0;
		top : 0;
		z-index : 2;
		position : fixed;
		height : 100%;
		width : 100%;
		background-color : #000;
		display : flex;
		flex-flow : column;
		justify-content : center;
		align-items : center;
	}
	
	#my-nav #collaps{
		display : block;
		color : #fff;
		z-index : 3;
		position : fixed;
		right : 10px;
		top: 10px;
	}
	
}
#my-nav ul{
	margin : 0;
	padding : 0;
}
#my-nav li {
	display : inline-block;
	padding-right : 10px;
}

#my-nav li a{
	text-decoration : none;
	color : #eee;
	font-size : 1.1em;
}

#brief{
	background-color : #004C44;
	font-size : 25px;
	margin : 1em 0;
	padding : 0.5em;
}

#brief h1{
	color : #eee;
	text-align : center;
	font-family: 'Lobster', cursive;
	margin : 0.5em;
	font-size : 1.6em;
}

#brief p{
	color : #eee;
	font-size : 1.3em;
	text-align : center;
	font-family: 'Righteous', cursive;
}

#brief i{
	font-size : 3em;
	color : #fff;
	text-align : center;
	width : 100%;
	
}

@media only screen and (max-width:400px){
	#brief h1 {
		font-size : 1.5em;
		letter-spacing : 2px;
	}
	#brief p{
		font-size : 1em;
	}
}

/* For Clicle Slider */

.slider-container{
	overflow: hidden;
	background-color: #004C44;
	display: grid;
	place-items: center;
	/* padding: 1rem; */
}

.slider-container .slider-body{
	border-radius: 50%;
	width: calc(100vh - 20vh);
	height: calc(100vh - 20vh);
	box-sizing: border-box;
	transition: 1s;
}

@media only screen and (max-width:400px){
	.slider-container .slider-body{ width : 250px; height : 250px;}
	html, body {
		font-size: 10px;
	}
}

.slider-container .slider-body ul{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	display: grid;
}

.slider-container .slider-body ul li {
	width: 100%;
	height: 100%;
	position: absolute;
	display: grid;
	justify-items: center;
	color: #fff;
}

.slider-container .slider-body ul li .title{
	transition: 1s;
	position: absolute;
	font-size: 2rem;
}

.slider-container .slider-body ul li .description {
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
	position: absolute;
	place-items: center;
	transform: scale(0);
	animation: fadein 1s ease-in-out forwards;
}

@keyframes fadein{
	form {
		/* opacity: 0 */
		transform: scale(0);
	}

	to {
		/* opacity: 1; */
		transform: scale(1);
		font-size: 3rem;
	}
}