*, *::after, *::before {
	box-sizing : border-box;
}
	body , html {
		margin : 0;
		padding : 0;
		font-family : serif;
		background-color : #ccc;
		text-transform : capitalize;
	}

#myslider{
	margin : 1em;
	display : grid;
	grid-gap : 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


#myslider #me {
	position : relative;
	background-color : #06C89B;
	abackground-image : linear-gradient(to top left, rgba(50,200,255,0.9), rgba(255,0,150,0.9));
}


#myslider #me #iconcontainer{
	width : 100%;
	height : 300px;
	position : relative;
	overflow : hidden;
}

#myslider #me #iconcontainer .icon {
	position : absolute;
	width : 100%;
	height : 100%;
	transition : 0.5s;
	top : 0;
	left : 0;
	//background-color : rgba(0,0,0,0.5);
}

#myslider #me #iconcontainer:hover .icon{
	position : absolute;
	background-color : rgba(0,0,0,0.5);
	border-radius : 50%;
	width : 100px;
	height : 100px;
	top : 10%;
	left : calc(50% - 50px);
}

#myslider #me #iconcontainer .icon i{
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
	font-size : 15em;
	transition : 0.5s;
	color : #eee;
}

#myslider #me #iconcontainer:hover .icon i {
	font-size : 5em;
}

#myslider #me #iconcontainer #des{
	position : absolute;
	width : 100%;
	height : 100%;
	padding : 10px;
	text-align : center;
	top : 100%;
	transition : 0.7s;
	opacity : 0;
}

#myslider #me #iconcontainer:hover #des {
	top : 40%;
	opacity : 1;
	width : 100%;
	height : 60%;
}

#myslider #me:before{
	content : '';
	z-index : -1;
	position : absolute;
	left : 0;
	right : 5%;
	bottom : 11px;
	height : 20px;
	transform : rotateZ(-2deg);
	box-shadow : 3px 10px 10px 0 #000;
}

#myslider #me:after{
	content : '';
	z-index : -1;
	position : absolute;
	right : 0;
	left : 5%;
	bottom : 11px;
	height : 20px;
	transform : rotateZ(2deg);
	box-shadow : -3px 10px 10px 0 #000;
}


#my-nav {
	height : 80px;
	background-color : #ccc;
	background-image : linear-gradient(to bottom, #FF006F,#FD6800);
	color : #fff;
	display : flex;
	justify-content : space-between;
	align-items : center;
	box-shadow : 0 0 10px #000;
}

#my-nav #nav-brand {
	display : flex;
	align-items : center;
}

#my-nav #nav-brand #brand-text{
	margin-left : 20px;
	font-size : 2em;
}
#my-nav #nav-brand img{
	height : 80px;
	width : auto;
	object-fit : cover;
}

#my-nav li {
	display : inline-block;
	padding-right : 10px;
}

#my-nav li a{
	text-decoration : none;
	color : #eee;
	font-size : 1.1em;
}

#brief{
	background-color : #004C44;
	margin-top : 1em;
	padding : 1em;
}

#brief h1{
	color : #eee;
	font-size : 50px;
	text-align : center;
	font-family: 'Lobster', cursive;
}

#brief p{
	color : #eee;
	font-size : 15px;
	text-align : center;
	font-family: 'Righteous', cursive;
}

#brief i{
	font-size : 40px;
	color : #fff;
	text-align : center;
	width : 100%;
	
}

@media only screen and (max-width:400px){
	#brief h1 {
		font-size : 40px;
		letter-spacing : 2px;
	}
}